<?xml version="1.0"?>
<config>
    <modules>
        <WBL_Minify>
            <version>0.1.0</version>
        </WBL_Minify>
    </modules>
    <global>
        <helpers>
            <wbl_minify>
                <class>WBL_Minify_Helper</class>
            </wbl_minify>
            <core>
                <rewrite>
                    <data>WBL_Minify_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <blocks></blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <wbl_minify module="wbl_minify">
                    <file>wbl_minify.xml</file>
                </wbl_minify>
            </updates>
        </layout>
    </frontend>
    <default>
   		<dev>
   			<minify>
   				<enable_yuicompressor>0</enable_yuicompressor>
   				<js_files>1</js_files>
   				<css_files>1</css_files>
   				<lessjs>1</lessjs>
   			</minify>
   		</dev>
   	</default>
</config>
